.landing-page {
  align-items: flex-start;
  background-color: var(--shark);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 3780px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  padding: 36px 0;
  position: relative;
  width: 1920px;
}
.landing-page .apollon-ri317j {
  background-color: transparent;
  bottom: calc(34.45% - 16px);
  height: 47px;
  mix-blend-mode: normal;
  position: absolute;
  right: 0px;
  width: 182px;
}
.landing-page .background-app-4eduM0 {
  background-color: transparent;
  height: 655px;
  left: 250px;
  object-fit: cover;
  position: absolute;
  top: 223px;
  width: 1650px;
}
.landing-page .background-stylestyle3-c9dZAx {
  background-color: var(--shark);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: calc(100% - 2px);
}
.landing-page .circle-button-9troxk {
  background-color: transparent;
  border-radius: 1000px;
  bottom: calc(35.87% - 17px);
  height: 48px;
  left: 207px;
  position: absolute;
  width: 48px;
}
.landing-page .circle-button-c9dZAx {
  background-color: transparent;
  border-radius: 1000px;
  bottom: calc(35.87% - 17px);
  height: 48px;
  left: 271px;
  position: absolute;
  width: 48px;
}
.landing-page .circle-button-eqTTfx {
  background-color: transparent;
  border-radius: 1000px;
  bottom: calc(35.87% - 17px);
  height: 48px;
  left: 143px;
  position: absolute;
  width: 48px;
}
.landing-page .collaborate-gjsH7x {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  color: var(--white);
  font-family: "Raleway", Helvetica;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  height: 72px;
  left: 0px;
  letter-spacing: 0px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: calc(100% + 2px);
}
.landing-page .company-stylestyle3tagh4-c9dZAx {
  background-color: transparent;
  height: 39px;
  left: 143px;
  letter-spacing: 0px;
  line-height: 42px;
  position: absolute;
  text-align: left;
  top: 44px;
  white-space: nowrap;
  width: 122px;
}
.landing-page .create-account-now-RJ3K7V {
  background-color: transparent;
  bottom: calc(49.02% - 25px);
  color: var(--white);
  font-family: "Lato", Helvetica;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  height: 52px;
  left: 61px;
  letter-spacing: 0px;
  line-height: 42px;
  position: absolute;
  text-align: center;
  width: calc(100% - 121px);
}
.landing-page .description-stylestyle3tagp-c9dZAx {
  background-color: transparent;
  height: 76px;
  left: 143px;
  letter-spacing: 0px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: calc(28.22% - 21px);
  width: 346px;
}
.landing-page .find-artists-xPO9Ek {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  color: var(--white);
  font-family: "Raleway", Helvetica;
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  height: 67px;
  left: 0px;
  letter-spacing: 0px;
  line-height: 55px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100% + 2px);
}
.landing-page .find-samples-R7ToEg {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  color: var(--white);
  font-family: "Raleway", Helvetica;
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  height: 67px;
  left: 0px;
  letter-spacing: 0px;
  line-height: 55px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100% + 2px);
}
.landing-page .find-samples-fi-ts-create-music-4eduM0 {
  background-color: transparent;
  color: var(--white);
  font-family: "Raleway", Helvetica;
  font-size: 60px;
  height: 240px;
  left: 308px;
  letter-spacing: 0px;
  line-height: 100px;
  position: absolute;
  text-align: left;
  top: 432px;
  width: 806px;
}
.landing-page .flex-row-4eduM0 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 73px;
  justify-content: flex-start;
  left: 1604px;
  min-width: 391px;
  position: absolute;
  top: 0px;
  width: auto;
}
.landing-page .flex-row-C61RwL {
  align-items: center;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 520px;
  justify-content: flex-start;
  margin-top: 31px;
  min-width: 1836px;
  position: relative;
  width: auto;
}
.landing-page .flex-row-QxM5SU {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 520px;
  justify-content: flex-start;
  margin-top: 0px;
  min-width: 1883px;
  position: relative;
  width: auto;
}
.landing-page .flex-row-VMr6Om {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 520px;
  justify-content: flex-start;
  margin-top: 0px;
  min-width: 1883px;
  position: relative;
  width: auto;
}
.landing-page .flex-row-mzXdH9 {
  align-items: center;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 520px;
  justify-content: flex-start;
  margin-top: 0px;
  min-width: 1825px;
  position: relative;
  width: auto;
}
.landing-page .footer-RH0WJ5 {
  background-color: transparent;
  height: 363px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1922px;
}
.landing-page .gruppe-100-ri317j {
  background-color: transparent;
  bottom: 2px;
  height: 57px;
  left: 18px;
  position: absolute;
  width: 38px;
}
.landing-page .gruppe-101-ri317j {
  background-color: transparent;
  background-image: url(../img/pfad-128@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 76px;
}
.landing-page .gruppe-102-xBcyRb {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 100%;
}
.landing-page .gruppe-103-4eduM0 {
  background-color: transparent;
  height: 86px;
  left: 192px;
  position: absolute;
  top: 4px;
  width: 261px;
}
.landing-page .gruppe-110-BdpSxK {
  background-color: transparent;
  flex-shrink: 1;
  height: 283px;
  margin-left: 79px;
  margin-top: 1px;
  position: relative;
  width: 844px;
}
.landing-page .gruppe-111-dXBp89 {
  background-color: transparent;
  flex-shrink: 1;
  height: 266px;
  position: relative;
  width: 844px;
}
.landing-page .gruppe-112-NwNIwt {
  background-color: transparent;
  flex-shrink: 1;
  height: 281px;
  margin-top: 1px;
  position: relative;
  width: 844px;
}
.landing-page .gruppe-113-AYFtQ1 {
  background-color: transparent;
  flex-shrink: 1;
  height: 286px;
  margin-left: 79px;
  margin-top: 2px;
  position: relative;
  width: 844px;
}
.landing-page .gruppe-115-C61RwL {
  align-self: center;
  background: linear-gradient(
    90deg,
    #ffb100 0%,
    #ffa002 14.29%,
    #ff8f0e 28.57%,
    #ff7c1b 42.86%,
    #ff6926 57.14%,
    #ff5431 71.43%,
    #ff3b3b 85.71%,
    #ff1845 100%
  );
  background-color: transparent;
  border-radius: 21px;
  flex-shrink: 1;
  height: 103px;
  margin-left: 0px;
  margin-top: 79px;
  position: relative;
  width: 532px;
}
.landing-page .gruppe-157-C61RwL {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 93px;
  margin-right: 0px;
  margin-top: 40px;
  position: relative;
  width: 87px;
}
.landing-page .gruppe-45-BVP5wq {
  background: linear-gradient(
    90deg,
    #ffb100 0%,
    #ffa002 14.29%,
    #ff8f0e 28.57%,
    #ff7c1b 42.86%,
    #ff6926 57.14%,
    #ff5431 71.43%,
    #ff3b3b 85.71%,
    #ff1845 100%
  );
  background-color: transparent;
  border-radius: 21px;
  flex-shrink: 1;
  height: 73px;
  margin-left: 18px;
  position: relative;
  width: 286px;
}
.landing-page .gruppe-50-4eduM0 {
  background-color: transparent;
  height: 299px;
  left: 722px;
  position: absolute;
  top: 56px;
  width: 706px;
}
.landing-page .icon-91LFbL {
  background-color: transparent;
  height: 15px;
  left: 1px;
  position: relative;
  top: 2px;
  width: calc(100% - 2px);
}
.landing-page .icon-AKyo9F {
  background-color: transparent;
  height: 20px;
  left: calc(50% - 10px);
  position: relative;
  top: calc(50% - 10px);
  width: 20px;
}
.landing-page .icon-W98mKJ {
  background-color: transparent;
  height: 13px;
  left: 1px;
  position: relative;
  top: 3px;
  width: calc(100% - 2px);
}
.landing-page .icon-afqeDi {
  background-color: transparent;
  height: 20px;
  left: calc(50% - 10px);
  position: relative;
  top: calc(50% - 10px);
  width: 20px;
}
.landing-page .icon-kSohgX {
  background-color: transparent;
  height: 20px;
  left: calc(50% - 10px);
  position: relative;
  top: calc(50% - 10px);
  width: 20px;
}
.landing-page .icon-material-k-oard-arrow-down-5xLHvQ {
  background-color: transparent;
  height: 53px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
.landing-page .icon-material-k-oard-arrow-down-dKCxzA {
  background-color: transparent;
  bottom: 1px;
  height: 53px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 100%;
}
.landing-page .icon-momntf {
  background-color: transparent;
  height: calc(100% - 3px);
  position: absolute;
  right: calc(46.16% - 4px);
  top: 1px;
  width: 9px;
}
.landing-page .linie-22-RH0WJ5 {
  background-color: transparent;
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.landing-page .login-BVP5wq {
  background-color: transparent;
  color: var(--white);
  flex-shrink: 1;
  font-family: "Raleway", Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  letter-spacing: 0px;
  line-height: 32px;
  margin-top: 8px;
  min-height: 39px;
  position: relative;
  text-align: left;
  width: 87px;
}
.landing-page .lorem-ipsum-dol-no-sea-takimata-R7ToEg {
  background-color: transparent;
  bottom: -2px;
  color: var(--white);
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: 188px;
  left: 0px;
  letter-spacing: 0px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  width: calc(100% - 58px);
}
.landing-page .lorem-ipsum-dol-no-sea-takimata-WL1DtF {
  background-color: transparent;
  color: var(--white);
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: 191px;
  left: 0px;
  letter-spacing: 0px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 97px;
  width: calc(100% - 58px);
}
.landing-page .lorem-ipsum-dol-no-sea-takimata-gjsH7x {
  background-color: transparent;
  bottom: -2px;
  color: var(--white);
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: 181px;
  left: 0px;
  letter-spacing: 0px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  width: calc(100% - 58px);
}
.landing-page .lorem-ipsum-dol-no-sea-takimata-xPO9Ek {
  background-color: transparent;
  bottom: -2px;
  color: var(--white);
  font-family: "Lato", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: 171px;
  left: 0px;
  letter-spacing: 0px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  width: calc(100% - 58px);
}
.landing-page .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 878px;
  margin-left: -115px;
  position: relative;
  width: 2150px;
}
.landing-page .overlap-group1-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 363px;
  margin-top: 75px;
  position: relative;
  width: 1922px;
}
.landing-page .path-RYMGO5 {
  background-color: transparent;
  height: calc(100% + 2px);
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: calc(100% + 2px);
}
.landing-page .path-ej8DRf {
  background-color: transparent;
  height: calc(100% + 2px);
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: calc(100% + 2px);
}
.landing-page .path-qk1QJ7 {
  background-color: transparent;
  height: calc(100% + 2px);
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: calc(100% + 2px);
}
.landing-page .path-ymv1cy {
  background-color: transparent;
  bottom: calc(49.71% - 4px);
  height: 7px;
  object-fit: cover;
  position: absolute;
  right: calc(45.61% - 3px);
  width: 6px;
}
.landing-page .pfad-129-bRZ0N3 {
  background-color: transparent;
  height: 36px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 33px;
}
.landing-page .pfad-130-bRZ0N3 {
  background-color: transparent;
  bottom: 0px;
  height: 37px;
  left: calc(23.62% - 6px);
  object-fit: cover;
  position: absolute;
  width: 26px;
}
.landing-page .pfad-131-bRZ0N3 {
  background-color: transparent;
  height: calc(100% - 20px);
  left: calc(42.85% - 12px);
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 27px;
}
.landing-page .pfad-132-bRZ0N3 {
  background-color: transparent;
  height: 37px;
  object-fit: cover;
  position: absolute;
  right: calc(42.22% - 5px);
  top: 0px;
  width: 12px;
}
.landing-page .pfad-133-bRZ0N3 {
  background-color: transparent;
  height: 37px;
  object-fit: cover;
  position: absolute;
  right: calc(33.37% - 4px);
  top: 0px;
  width: 12px;
}
.landing-page .pfad-134-bRZ0N3 {
  background-color: transparent;
  height: calc(100% - 20px);
  object-fit: cover;
  position: absolute;
  right: calc(18.3% - 5px);
  top: 10px;
  width: 27px;
}
.landing-page .pfad-135-bRZ0N3 {
  background-color: transparent;
  height: calc(100% - 21px);
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 10px;
  width: 23px;
}
.landing-page .product-stylestyle3taguil-9troxk {
  background-color: transparent;
  height: 24px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  right: calc(30.02% - 39px);
  text-align: center;
  top: calc(42.48% - 10px);
  white-space: nowrap;
  width: 130px;
}
.landing-page .product-stylestyle3taguil-BIs2Os {
  background-color: transparent;
  bottom: 44px;
  height: 26px;
  left: 143px;
  letter-spacing: 0px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 342px;
}
.landing-page .product-stylestyle3taguil-c9dZAx {
  background-color: transparent;
  bottom: calc(45.72% - 11px);
  height: 24px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  right: calc(31.48% - 29px);
  text-align: center;
  white-space: nowrap;
  width: 92px;
}
.landing-page .product-stylestyle3taguil-eqTTfx {
  background-color: transparent;
  height: 24px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  right: calc(30.72% - 34px);
  text-align: center;
  top: calc(30.68% - 7px);
  white-space: nowrap;
  width: 112px;
}
.landing-page .products-stylestyle3tagh5-c9dZAx {
  background-color: transparent;
  height: 31px;
  letter-spacing: 0px;
  line-height: 34px;
  position: absolute;
  right: calc(29.79% - 41px);
  text-align: left;
  top: calc(15.81% - 5px);
  white-space: nowrap;
  width: 136px;
}
.landing-page .rechteck-23-AYFtQ1 {
  background-color: transparent;
  flex-shrink: 1;
  height: 520px;
  object-fit: cover;
  position: relative;
  width: 960px;
}
.landing-page .rechteck-25-BdpSxK {
  background-color: transparent;
  flex-shrink: 1;
  height: 520px;
  object-fit: cover;
  position: relative;
  width: 960px;
}
.landing-page .rechteck-32-dXBp89 {
  background-color: transparent;
  flex-shrink: 1;
  height: 520px;
  margin-left: 32px;
  object-fit: cover;
  position: relative;
  width: 960px;
}
.landing-page .rechteck-33-NwNIwt {
  background-color: transparent;
  flex-shrink: 1;
  height: 520px;
  margin-left: 21px;
  object-fit: cover;
  position: relative;
  width: 960px;
}
.landing-page .rechteck-43-4eduM0 {
  background-color: rgba(72, 72, 72, 1);
  height: 221px;
  left: 0px;
  opacity: 0.8;
  position: absolute;
  top: 445px;
  transform: rotate(-12deg);
  width: 2150px;
}
.landing-page .rechteck-54-lv9DJx {
  background-color: var(--pizazz);
  height: calc(100% - 7px);
  left: 6px;
  position: absolute;
  top: 3px;
  width: 5px;
}
.landing-page .rechteck-55-lv9DJx {
  background-color: var(--international-orange);
  bottom: calc(46.41% - 10px);
  height: 22px;
  position: absolute;
  right: calc(49.69% - 2px);
  width: 5px;
}
.landing-page .rechteck-56-lv9DJx {
  background-color: var(--vermilion);
  height: calc(100% - 13px);
  position: absolute;
  right: calc(32.91% - 2px);
  top: 6px;
  width: 5px;
}
.landing-page .rechteck-57-lv9DJx {
  background-color: var(--torch-red);
  height: calc(100% - 22px);
  position: absolute;
  right: 1px;
  top: 11px;
  width: 5px;
}
.landing-page .rechteck-58-lv9DJx {
  background-color: rgba(255, 27, 30, 1);
  height: 100%;
  position: absolute;
  right: 6px;
  top: 0px;
  width: 5px;
}
.landing-page .rechteck-59-lv9DJx {
  background-color: var(--selective-yellow);
  height: calc(100% - 27px);
  left: 0px;
  position: absolute;
  top: 13px;
  width: 5px;
}
.landing-page .rechteck-60-lv9DJx {
  background-color: rgba(255, 117, 0, 1);
  height: calc(100% - 19px);
  left: calc(33.61% - 2px);
  position: absolute;
  top: 9px;
  width: 5px;
}
.landing-page .register-now-GyNMtX {
  background-color: transparent;
  bottom: calc(46.88% - 19px);
  color: var(--white);
  font-family: "Lato", Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  height: 41px;
  left: 43px;
  letter-spacing: 0px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  width: calc(100% - 83px);
}
.landing-page .resource-stylestyle3taguil-9troxk {
  background-color: transparent;
  height: 24px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  right: calc(19.02% - 11px);
  text-align: center;
  top: calc(42.48% - 10px);
  white-space: nowrap;
  width: 56px;
}
.landing-page .resource-stylestyle3taguil-c9dZAx {
  background-color: transparent;
  bottom: calc(45.72% - 11px);
  height: 24px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  right: calc(19.46% - 9px);
  text-align: center;
  white-space: nowrap;
  width: 46px;
}
.landing-page .resource-stylestyle3taguil-eqTTfx {
  background-color: transparent;
  height: 24px;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  right: calc(19.46% - 9px);
  text-align: center;
  top: calc(30.68% - 7px);
  white-space: nowrap;
  width: 46px;
}
.landing-page .resources-stylestyle3tagh5-c9dZAx {
  background-color: transparent;
  height: 31px;
  letter-spacing: 0px;
  line-height: 34px;
  position: absolute;
  right: calc(16.17% - 20px);
  text-align: left;
  top: calc(15.81% - 5px);
  white-space: nowrap;
  width: 122px;
}
.landing-page .share-your-music-WL1DtF {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  color: var(--white);
  font-family: "Raleway", Helvetica;
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  height: 67px;
  left: 0px;
  letter-spacing: 0px;
  line-height: 55px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100% + 2px);
}
.landing-page .span0-xMexnU {
  color: rgba(255, 255, 255, 1);
  font-family: "Raleway", Helvetica;
  font-style: normal;
  font-weight: 600;
}
.landing-page .span1-xMexnU {
  color: rgba(255, 255, 255, 1);
  font-family: "Raleway", Helvetica;
  font-size: 90px;
  font-style: normal;
  font-weight: 600;
}
.landing-page .span2-xMexnU {
  color: rgba(255, 255, 255, 1);
  font-family: "Raleway", Helvetica;
  font-size: 100px;
  font-style: normal;
  font-weight: 600;
}
.landing-page .vereinigungsmenge-1-YbJjbW {
  background-color: transparent;
  height: calc(100% + 1px);
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100% + 1px);
}
