@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); /*Lato regular*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap'); /*Raleway light*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap'); /*Raleway bold>*/

/*CSS für Alles*/

:root {
    --background-color: #292929;
    --colorText: #929292;
    --colorAccent: #ffb100;
    --p: 18px;
    --h4: 24px;
    --h3: 32px;
    --h2: 42px;
    --h1: 55px;
}

body {
    background-color: var(--background-color);
}

h2{
    font-family: 'Raleway';
    font-size: var(--h2);
    color: var(--colorText);
}

h3 {
    font-family: 'Raleway';
    font-size: var(--h3);
    color: var(--colorText);
}

h4 {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: var(--h4);
    color: var(--colorText);
}

p {
    font-family: 'Lato';
    font-size: var(--p);
    color: var(--colorText);
}

/*CSS für Header*/

header {
    width: 100%;
    padding-top: 20px;
}

.containerHeader {
    float: left;
    width: 60%;
}

a.linkHeader:hover{
    color: #FFB100;
}

.divlogo {
    position: relative;
    float: left;
    width: 10%;
    padding-right: 100px;
}

.divIcons {
    float: right;
    position: relative;
    padding-right: 20px;
    text-align: right;
}

.icons {
    padding-right: 20px;
    transform: scale(0.7, 0.7);
}

.profilePicture {
    margin-bottom: -6px;
}

nav {
    display: inline-block;
    position: relative;
    justify-content: left;
    width: 80%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    padding-left: 20px;
    padding-top: 33px;
    padding-right: 20px;
    position: relative;
}

nav ul li a {
    font-family: 'Raleway';
    color: var(--colorText);
    text-decoration: none;
    font-size: var(--p);
}


/*CSS für Hauptteil*/
#container{
    width: 85%;
    margin-left: 7.3%;
    outline: 1px solid #929292;
    display:grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 12%;
    grid-template-areas: "l r r" "c w w";
}

.leftHeader{
    grid-area: l;
    display: flex;
    height:100%;
    background-color: #929292;
}

.leftHeader img{
    margin: 3%;
    margin-left: 8%;
    width: 17%;
}

.leftHeader p{
    margin-top: 8%;
}

    

.rightHeader{
    grid-area: r;
    display: flex;
    height:100%;
    background-color: #929292;
    text-align: center;
}

.rightHeader img{
    margin: 1%;
    margin-left: 5%;
    height: 75%;
}

.rightHeader p{
    margin-top: 3%;
}



.chatsLeft{
    grid-area: c;
    margin-left: 8%;
    display: inline-block;
    border-right: 1px solid #929292;
    cursor: pointer;
}
.chatsLeft img{
    width: 20%;
}

.chats{
    display:flex;
    margin-top: 9%;
    list-style: none;
}

.chats p{
    margin-left: 5%;
}




.windowChat{
    grid-area: w;
}

.windowChat img{
    width: 6%;
    margin-left:3%;
}

.windowChat p{
    font-size: 10pt;
    width: 35%;
    padding: 2%;
    border-radius: 30px;
    border: 1px solid #929292;
    margin-left: 8%;
}

#rightMessage{
    margin-left: 53%;
}

#rightPicture{
    float:right;
    margin-right: 3%;
}

.eingabe{
    display: flex;
    width: 100%;
    margin-top: 5%;
    float: bottom;
}

#eingabeFeld{
    background-color: var(--background-color);
    color: var(--colorText);
    border: var(--colorText);
    width:85%;
    height: 27px;
    margin: 3% 0% 0% 3.3%;
}

#sIcon{
    width: 4%;
    height:4%;
    margin-left: 3.6%;
    margin-top: 2.5%;
    cursor: pointer;
}



/*CSS für Footer*/
footer p{
    font-size: 16px;
}


footer nav {
    width: 20%;
}

.wrapper2 {
    display: inline-block;
    padding-top: 20px;
    padding-left: 38px;
    width: 100%;
}

.footerLeft {
    position: relative;
    width: 70%;
    float: left;
}

.generalInformation {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footerMiddle {
    position: relative;
    width: 15%;
    float: left;
}

ul.information {
    padding: 0;
    list-style: none;
}

.footerRight {
    position: relative;
    width: 15%;
    float: right;
}

ul.resources {
    padding: 0;
    list-style: none;
}

.generalInformation{
    line-height: 13px;
}

.rights{
    font-size: 12px;
}

.helpLink {
    text-decoration: none;
}