/*CSS für Alles*/

:root {
  --background-color: #292929;
  --colorText: #929292;
  --colorAccent: #ffb100;
  --p: 18px;
  --h4: 24px;
  --h3: 32px;
  --h2: 42px;
  --h1: 55px;
}

body {
  background-color: var(--background-color);
  position: relative;
}

h3 {
  font-family: 'Raleway';
  font-size: var(--h3);
  color: var(--colorText);
}

h4 {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: var(--h4);
  color: var(--colorText);
}

p {
  font-family: 'Lato';
  font-size: var(--p);
  color: var(--colorText);
}

/*CSS für Header*/

header {
  width: 100%;
  padding-top: 20px;
}

.containerHeader {
  float: left;
  width: 60%;
}

.divlogo {
  position: relative;
  float: left;
  width: 10%;
  padding-right: 100px;
}

.icons {
  padding-right: 20px;
  transform: scale(0.7, 0.7);
}

/* CSS für Footer*/

footer nav {
  width: 20%;
}

.wrapper {
  display: inline-block;
  padding-top: 20px;
  padding-left: 38px;
  width: 100%;
}

.footerLeft {
  position: relative;
  width: 70%;
  float: left;
}

.generalInformation {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footerMiddle {
  position: relative;
  width: 15%;
  float: left;
}

ul.information {
  padding: 0;
  list-style: none;
}

.footerRight {
  position: relative;
  width: 15%;
  float: right;
}

ul.resources {
  padding: 0;
  list-style: none;
}

/* Weiße Box */

.whiteBox {
  width: 70%;
  height: auto;
  margin-left: 260px;
  margin-top: 6%;
  padding: 300px;
  box-sizing: border-box;
  border-radius: 21px;
  background: white;
  position: relative;
  z-index: -1;
}

.content {
  font-family: 'Lato';
  margin-top: 130px;
  margin-left: 100px;
  display: inline-block;
  position: absolute;
  z-index: 1;
}

.content h1 {
  margin-left: 12px;
}

.content ul {
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 30px;
}

.content li {
  display: inline;
  position: relative;
  padding: 15px;
}

.content .orange {
  color: var(--colorAccent);
}

.content a {
  text-decoration: none;
}

.content img {
  width: 23%;
  position: relative;
  margin-left: 505px;
  margin-top: -57px;
}

.input-fields {
  margin-top: 250px;
  margin-left: 345px;
  z-index: 1;
  position: absolute;
}

input {
  border: 1px solid var(--colorText);
  border-radius: 3px;
  display: block;
  position: relative;
  font-size: 18px;
  padding: 15px;
  padding-left: 40px;
  margin: 20px;
  width: 70%;
}

input[type=checkbox] {
  width: 30px;
  height: 30px;
}

.input-fields p {
  margin-left: 70px;
  margin-top: -46px;
}


#loginButton {
    font-family: 'Lato';
    font-size: var(--p);
    color: #fff;
    position: absolute;
    border: 10px solid transparent;
    border-radius: 21px;
    background: linear-gradient(to right, #ffb100, #ff1845);
    background-clip: padding-box;
    margin-top: 480px;
    margin-left: 100px;
    width: 20%;
    height: 60px;
    z-index: 1;
}

#signUpWithGoogle {
  position: absolute;
  color: var(--colorAccent);
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  z-index: 1;
  margin-top: 560px;
  margin-left: 170px;
}

/* Header */

header .tutorial p{
  float: right;
  padding-right: 100px;
  font-size: var(--p);
}

header .tutorial p a{
  text-decoration: none;
  color: var(--colorText);
}

header .tutorial p a:hover{
  color: var(--colorAccent);
}