@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); /*Lato regular*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap'); /*Raleway light*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap'); /*Raleway bold>*/

/*CSS für Alles*/

:root {
    --background-color: #292929;
    --colorText: #929292;
    --colorAccent: #ffb100;
    --p: 18px;
    --h4: 24px;
    --h3: 32px;
    --h2: 42px;
    --h1: 55px;
}

body {
    background-color: var(--background-color);
}

h2{
    font-family: 'Raleway';
    font-size: var(--h2);
    color: var(--colorText);
}

h3 {
    font-family: 'Raleway';
    font-size: var(--h3);
    color: var(--colorText);
}

h4 {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: var(--h4);
    color: var(--colorText);
}

p {
    font-family: 'Lato';
    font-size: var(--p);
    color: var(--colorText);
}


/*CSS für Header*/

header {
    width: 100%;
    padding-top: 20px;
}

.containerHeader {
    float: left;
    width: 60%;
}


.divlogo {
    position: relative;
    float: left;
    width: 10%;
    padding-right: 100px;
}

.divIcons {
    float: right;
    position: relative;
    padding-right: 20px;
    text-align: right;
}

.icons {
    padding-right: 20px;
    transform: scale(0.7, 0.7);
}

.profilePicture {
    margin-bottom: -6px;
}

nav {
    display: inline-block;
    position: relative;
    justify-content: left;
    width: 80%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    padding-left: 20px;
    padding-top: 33px;
    padding-right: 20px;
    position: relative;
}

nav ul li a {
    font-family: 'Raleway';
    color: var(--colorText);
    text-decoration: none;
    font-size: var(--p);
}

nav ul li a:hover {
    color: var(--colorAccent);
  }

/*CSS für Body*/
.content {
    margin-top: 100px;
    margin-left: 41px;
}

.team-name{
    color: var(--colorAccent);
}

.members{
    display: inline-block;
}

.profilePictures{
   height: 70px;
}

.addArtistsButton {
    cursor: pointer;
    background-color: var(--colorText);
    height: 70px;
    line-height: 30px;  
    width: 70px;  
    border-radius: 50%;
    text-align: center;
    border-style: none;
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.plusIcon {
    cursor:pointer;
    position: absolute;
    z-index: 100;
    padding-top: 12px;
    margin-left: -60px;
    height: 50px;
}


button {
    cursor: pointer;
    font-family: 'Lato';
    font-size: var(--p);
    color: #fff;
    position: relative;
    border: 10px solid transparent;
    border-radius: 21px;
    width: 200px;
    height: 70px;
    background: linear-gradient(to right, #ffb100, #ff1845);
    background-clip: padding-box;
    margin-left: -12px;
    margin-top: 10px;
    font-size: var(--p);
}

button a {
    text-decoration: none;
    color: #fff;
}

.uploadSymbol{
    height: 25px;
    padding-top: 5px;
    float: right;
    margin-right: 12px;
}

.shareSamples{
    display: block;
}

.share{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    float: left;
    margin-left: 10px;
}




.sharedSamples{
    padding-top: 50px;
    margin-bottom: 0px;
    margin-bottom: 1%;

}

.separationLine{
    background-color: #949494;
    width: 93%;
    height: 0.01px;
    margin-left:  0px;
    margin-top: 0px;
}



/*CSS für Footer*/
footer{
margin-left: 3%;
}

footer p{
    font-size: 16px;
}


footer nav {
    width: 20%;
}

.wrapper {
    display: inline-block;
    padding-top: 20px;
    padding-left: 38px;
    width: 100%;
}

.footerLeft {
    position: relative;
    width: 70%;
    float: left;
}

.generalInformation {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footerMiddle {
    position: relative;
    width: 15%;
    float: left;
}

ul.information {
    padding: 0;
    list-style: none;
}

.footerRight {
    position: relative;
    width: 15%;
    float: right;
}

ul.resources {
    padding: 0;
    list-style: none;
}

.generalInformation{
    line-height: 13px;
}

.rights{
    font-size: 12px;
}